/* add css module styles here (optional) */

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.pallet {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.each {
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
  margin: 0 5px;
}
.digit {
  font-weight: bold;
  padding: 5px;
  border-bottom: solid 1px gray;
  font-size: 2em;
  text-align: center;
}
.txt {
  font-weight: normal;
  padding: 5px;
  font-size: 1em;
  text-align: center;
}
